<div class="container-sm">
  <%= image_tag @profile.avatar(:medium) %>

  <h2>
    <%= @profile.first_name %> <%= @profile.last_name %>
  </h2>

  <div>
    <h4>Bio</h4>
    <p>
      <%= @profile.bio %>
    </p>

    <h4>Address</h4>
    <p>
      <%= @profile.address %>
    </p>

    <h4>City</h4>
    <p>
      <%= @profile.city %>
    </p>

    <h4>Country</h4>
    <p>
      <%= @profile.country %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %>
<br />
<%= link_to 'Add a Listing', new_listing_path %>
<br / />
<%= link_to 'View Your Listings', yours_listings_path %>


<%= render 'layouts/footer' %>
