<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Avatar src:</strong>
  <%= @profile.avatar_src %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Home', welcome_index_path %>
<br />
<%= link_to 'Add a Listing', new_listing_path %>
<br / />
<%= link_to 'View Your Listings', yours_listings_path %>


<%= render 'layouts/footer' %>
